<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.user_title}} {{site.username}}</span>
        <span class="site-description">{{site.user_job_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="E-Mail" href="mailto:beltino.goncalves[at]outlook.com"><i class="icon fas fa-envelope"></i></a>
        <!-- <a aria-label="Twitter" target="_blank" href=""><i class="icon fab fa-twitter" aria-hidden="true"></i></a> -->
        <!-- <a aria-label="Github" target="_blank" href=""><i class="icon fab fa-github" aria-hidden="true"></i></a> -->
        <!-- <a aria-label="Blog" target="_blank" href="https://.netlify.com"><i class="icon fas fa-blog" aria-hidden="true"></i></a> -->
        <!-- <a aria-label="Medium" target="_blank" href="https://towardsdatascience.com/"><i class="icon fab fa-medium" aria-hidden="true"></i></a> -->
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/beltinogoncalves"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/beltaco/"><i class="icon fab fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <!-- <b>-</b>
        <a class="link" href="#skills" data-scroll>Skills</a> -->
        <!-- <b>-</b> -->
        <!-- <a class="link" href="#projects" data-scroll>Projects</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
